.TodoItem{

	background-color: #332934;
	color: white;
	margin: 10px;
	padding: 10px 20px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;

	font-size: 1.1em;
	font-weight: bold;
	transition: .3s;

}





.TodoItem:hover{
	border-left: 5px solid whitesmoke;
}


.TodoItem .details{
	display: flex;
	align-items: center;
	gap: 20px;

	padding: 5px 0 ;
}

.TodoItem .controls{
	display: flex;
	flex-direction: column;
}

.TodoItem .controls button{
	padding: 5px;
	background-color: transparent;
	border-color: transparent;
	color: white;

	margin: 2px;
	border-radius: 2px;
	transition: .3s;
}


.TodoItem .controls button:hover{
	background-color: purple;
	border-radius: 100px;
	color: whitesmoke;
}

.TodoItem .controls button:active{
	transform: rotateZ(-45deg);
}


.todo-item-checked{
	text-decoration: line-through;
}

