.Header .banner .main-banner{
	background-image: url(https://i.pinimg.com/originals/51/4f/3f/514f3fccb71047d780be491c435a79e1.gif);
	background-position: center;
	height: 150px;

	border-radius: 10px 5px 10px 5px;
}


.Header .banner .avatar-banner{
	height: 50px;
	width: 50px;
	border-radius: 100px;

	float: right;
	padding: 10px;
}


.Header .header{
	color: whitesmoke;
	padding: 5px 10px;
	text-align: left;
}

.Header .header p{
	color: grey;
	width: 200px;
	display: flex;
	gap: 20px;
}