.Header .banner .main-banner{

	background-position: center center;
	background-size: cover;
	height: 150px;

	border-radius: 10px 5px 10px 5px;
}

.Header .banner .avatar-banner{
	height: 50px;
	width: 50px;
	border-radius: 100px;

	float: right;
	padding: 10px;

	transition: .5s ease-out;

}


.Header .header{
	color: whitesmoke;
	padding: 5px 10px;
	text-align: left;
}

.Header .header p{
	color: grey;
	width: 250px;
	display: flex;
	gap: 20px;
	transition: .3s;
}

.Header .header p:hover{
	color: whitesmoke;
}


.avatar-banner{
	animation: rotate 3s linear infinite;
}



@keyframes rotate {
	from{
		transform: rotateZ(0deg);
	}

	to{
		transform: rotateZ(360deg);
	}
	
}